/* Below line is used for online Google font */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
div.container{
width: 50%;
height: 50%;
margin:10px auto;
font-family: 'Droid Serif', serif;
}
div.main{
width: 500px auto;
margin-top: 35px;
float:left;
border-radius: 5px;
Border:1px solid #fafafa;
padding:0px 50px 20px;
}
p{
margin-top: 5px;
margin-bottom: 5px;
color:navy-blue;
font-weight: bold;
}
h2{
background-color: #fafafa;
padding: 25px;
margin: 0 -50px;
text-align: center;
border-radius: 5px 5px 0 0;
}
hr{
margin: 0 -50px;
border: 0;
border-bottom: 1px solid #ccc;
margin-bottom:25px;
}
span{
font-size:13.5px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: normal;
}
.heading{
font-size: 17px;
font-weight: bold;
}
b{
color:red;
}
.block {
  height: 400px;
}  
input[type=checkbox]{
  display: inline-block auto;
  white-space:nowrap;
  margin-left: 0% auto;
  margin-right:5% auto;
  margin-top: 15px;
  margin-bottom:10px;  
  font-weight: normal;
}
input[type=checkbox]:checked + label {
color: #0033cc;
text-transform: uppercase;
//color: #f00;
  font-weight: bold;
//  font-style: italic;
}
input[type=submit]{
padding: 10px;
text-align: center;
font-style: bold;
font-size: 100% ;
background: linear-gradient(#688cbe 5%, #e7eefc 100%);
border: 0px solid #688cbe;
//color: #e7eefc;
color: #ffffff;
//font-weight: bold;
cursor: pointer;
text-shadow: 0px 1px 0px #13506D;
width: 100%;
border-radius: 5px;
margin-bottom: 15px;
}
input[type=submit]:hover{
background: linear-gradient(#e7eefc 5%, #aec8fd 100%);
}
